.bg-brown{
    background-image: url(./fondov.webp);
    background-repeat: no-repeat;
    background-size: 100%;
   
}

.cardi{
    background-color: #552709;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(175, 93, 38, 0.966);
    padding: 20px;
    margin: 20px;
    text-align: center;
}