@font-face {
    font-family:'comicin' ;
    src: url(../assets/Comicbon\ -\ personal\ use.ttf);
}

@font-face {
    font-family: 'carton';
    src: url(../assets/Comico.otf);
}

.tipo-grafo{
    font-family: 'carton';
}



.bg-brown {
    background-color: #a3a03e;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
    padding-top: 1vw;
   



}

.tipo-grafia{
    font-family: 'comicin';
}
.bg-top {
    background-image: url(./verdesvg.svg);
    background-size: 100%;
    background-position: 0px 107%;
    background-repeat: no-repeat;
}

.cardi {
    background-color: #fde48a;
    border-radius: 10px;
    box-shadow: 0 10px 20px hwb(24 15% 31% / 0.966);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.bg-let {
 
    background-image: url(./cachib.svg);
    background-size: 100%;
    background-position: 0 -12vw;
    background-repeat: no-repeat;
    background-color: rgb(204, 109, 31);
}



.dividerl-let{
    background-image: url(./cachib.svg);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-color: rgb(204, 109, 31);
    height: 150px;
}

.fondo-footer{
    background-color: #fde48a;
}

.bg-cafi{
    background-color: #a3a03e;
}



.footer-inlec {

    background: linear-gradient(
        180deg,
        #5c3a21,
        #3b2415
    );

    color: white;

}



.footer-col h3 {

    font-weight: bold;
    margin-bottom: 15px;

}

.footer-col h5 {

    margin-bottom: 20px;
    font-weight: 600;

}


.footer-links {

    list-style: none;
    padding: 0;

}

.footer-links li {

    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;

}

.footer-links li:hover {

    color: #ffc107;
    transform: translateX(5px);

}



.social-icons i {

    font-size: 28px;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.3s;

}

.social-icons i:hover {

    color: #ffc107;
    transform: scale(1.2);

}



.footer-bottom {

    border-top: 1px solid rgba(255,255,255,0.3);
    padding-top: 15px;
    font-size: 14px;

}